<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-one-third">
                        <div class="box">
                            <h5 class="subtitle has-text-centered">
                                Iniciar sesión
                            </h5>
    
                            <form>
                                <div class="field">
                                    <label class="label">
                                        Correo electrónico
                                    </label>
    
                                    <div class="control">
                                        <input type="email" class="input" name="email" required>
                                    </div>
                                </div>
    
                                <div class="field">
                                    <label class="label">
                                        Contraseña
                                    </label>
    
                                    <div class="control">
                                        <input type="password" class="input" name="password" required>
                                    </div>
                                </div>
    
                                <div class="control has-text-centered">
                                    <button type="submit" class="button is-primary">
                                        Entrar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>