body {
    letter-spacing: 1px;
}

.button {
    letter-spacing: 2px;
}

.image.smoothie {
    width: 100px;
    margin: -60px auto 20px;
}

.box.recipe {
    border-radius: 20px;
    padding: 30px 20px;
}