// General
$body-overflow-y: auto;
$body-background-color: #FAFAFA;

// Font
$family-sans-serif: 'Quicksand', sans-serif;

// Colors
$yellow: #FEE996;
$red: #FF0099;

// Title
$title-color: #444444;
$title-weight: bold;
$subtitle-color: #999999;
$subtitle-weight: bold;

// Navbar
$navbar-background-color: transparent;
$navbar-item-color: #444444;
$navbar-item-hover-color: #444444;

// Footer
$footer-color: #AAAAAA;

// Form
$label-weight: normal;

// Box
$box-radius: 10px;
$box-padding: 1.875rem;

// Input
$input-border-color: #DDDDDD;
$input-hover-border-color: #DDDDDD;
$input-focus-border-color: #444444;
$input-focus-box-shadow-size: 0;
$input-focus-box-shadow-color: transparent;