<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>
                Smoothies
            </strong>
            &copy; 2021
        </p>
    </div>
</footer>