<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="section">
        <div class="container">
            <h3 class="title">
                Inicio
            </h3>

            <a href="/smoothies" class="button is-warning">
                Listado de smoothies
            </a>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>

</html>