<%- include('partials/header'); -%>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="box">
                    <h3 class="title">
                        Login
                    </h3>

                    <form action="/login" class="mb-0">
                        <div class="field">
                            <label class="label">
                                Correo electrónico
                            </label>
                
                            <div class="control">
                                <input type="email" class="input" name="email">
                            </div>
                
                            <strong class="help is-danger email"></strong>
                        </div>

                        <div class="field">
                            <label class="label">
                                Contraseña
                            </label>
                
                            <div class="control">
                                <input type="password" class="input" name="password">
                            </div>
                
                            <strong class="help is-danger password"></strong>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-warning is-rounded">
                                    <strong>
                                        LOGIN
                                    </strong>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer'); -%>

<script>
    const form = document.querySelector('form')
    const emailError = document.querySelector('.help.is-danger.email')
    const passwordError = document.querySelector('.help.is-danger.password')

    form.addEventListener('submit', async event => {
        event.preventDefault()

        // Reset errors
        emailError.textContent = ''
        passwordError.textContent = ''

        // Get values
        const email = form.email.value
        const password = form.password.value

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'Content-Type': 'application/json' }
            })
            const data = await res.json()

            if (data.errors) {
                emailError.textContent = data.errors.email
                passwordError.textContent = data.errors.password
            }
            if (data.user) {
                location.assign('/')
            }
        }
        catch (err) {
            console.log(err)
        }
    })
</script>