<%- include('partials/header'); -%>

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="box has-text-centered is-shadowless recipe">
                    <div class="block">
                        <figure class="image smoothie">
                            <img src="/smoothie.png" alt="Smoothie recipe icon">
                        </figure>
                    </div>

                    <p class="is-size-5 has-text-weight-bold">
                        Banana Boost
                    </p>

                    <p class="is-size-5">
                        Banana, Vanilla ice cream, Milk
                    </p>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="box has-text-centered is-shadowless recipe">
                    <div class="block">
                        <figure class="image smoothie">
                            <img src="/smoothie.png" alt="Smoothie recipe icon">
                        </figure>
                    </div>

                    <p class="is-size-5 has-text-weight-bold">
                        Tropical Twist
                    </p>

                    <p class="is-size-5">
                        Peach, Pinapple, Apple juice
                    </p>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="box has-text-centered is-shadowless recipe">
                    <div class="block">
                        <figure class="image smoothie">
                            <img src="/smoothie.png" alt="Smoothie recipe icon">
                        </figure>
                    </div>

                    <p class="is-size-5 has-text-weight-bold">
                        Protein Packer
                    </p>

                    <p class="is-size-5">
                        Oats, Peanut butter, Milk, Banana, Blueberries
                    </p>
                </div>
            </div>
            
            <div class="column is-one-third">
                <div class="box has-text-centered is-shadowless recipe">
                    <div class="block">
                        <figure class="image smoothie">
                            <img src="/smoothie.png" alt="Smoothie recipe icon">
                        </figure>
                    </div>

                    <p class="is-size-5 has-text-weight-bold">
                        Banana Boost
                    </p>

                    <p class="is-size-5">
                        Banana, Vanilla ice cream, Milk
                    </p>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="box has-text-centered is-shadowless recipe">
                    <div class="block">
                        <figure class="image smoothie">
                            <img src="/smoothie.png" alt="Smoothie recipe icon">
                        </figure>
                    </div>

                    <p class="is-size-5 has-text-weight-bold">
                        Tropical Twist
                    </p>

                    <p class="is-size-5">
                        Peach, Pinapple, Apple juice
                    </p>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="box has-text-centered is-shadowless recipe">
                    <div class="block">
                        <figure class="image smoothie">
                            <img src="/smoothie.png" alt="Smoothie recipe icon">
                        </figure>
                    </div>

                    <p class="is-size-5 has-text-weight-bold">
                        Protein Packer
                    </p>

                    <p class="is-size-5">
                        Oats, Peanut butter, Milk, Banana, Blueberries
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer'); -%>