<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="section">
        <div class="container">
            <h3 class="title">
                Lista de smoothies
            </h3>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>

</html>